
<div class="container-fluid spacerTop50px">
	

	<% if (@recipes.nil? or @recipes == []) %>

		<p><h2>No recipes found... Sorry</h2></p>

	<% else %>

		<!-- Recipe Listing -->
		<div class="card-columns text-xs-center">

			<% @recipes.each do |course| %>

				<div class = "card indexRecipeCard shadowEffect">

					<!-- image -->

					<div class = "recipeCardImage">					
						
						<!-- save button -->
						<div class = "recipeCardImageHoverContainer">

							<div class ="recipeCardIconContainer">

								<a href="" title="Save to your recipe list" class="btn btnRed">Save</a>

							</div>
						</div>	

						<!-- image -->
						<%= link_to(image_tag(course["image_url"], class: "card-img-top img-responsive text-center width-100-percent"),recipedetail_path(recipeid: course["recipe_id"])) %> 

					</div>
						
					<!-- recipe name -->
					<div class="card-block indexRecipeTitle text-xs-center">

						<%= link_to(course["title"].html_safe,recipedetail_path(recipeid: course["recipe_id"]))%>

					</div>					
				
				</div> 
			
			<% end %>	
				
		</div> 

	<% end %>	

</div>


