
<div class="container-fluid">
	
	<div class="row">
		
		<div class="col-lg-12 col-md- col-sm-12 col-xs-12 text-xs-center">
			
		<% if (@recipe_details.nil? or @recipe_details == []) %>

			<h3>Sorry, no recipe details found</h3>

		<% else %>

			<div class="row" id="modalImageContainer">
				<%= image_tag(@recipe_details["recipe"]["image_url"], class: "img-responsive text-center width-100-percent") %>
			</div>

			<div class="row text-xs-left spacerTop20px" id="modalIngredientsTitle">
				<h4><strong>Ingredients</strong></h4>
			</div>
				
			<div class="row modalImageContainer text-xs-left">

				<% for i in 0..@recipe_details["recipe"]["ingredients"].length %>

					<%= @recipe_details["recipe"]["ingredients"][i] %> <br/>

				<% end %>

			</div>	
		<% end %>	
		
		</div>
			
	</div>

</div>

